{{ define "main" }}
  {{- partial "/images/featured-image" . -}}

  {{- partial "/components/breadcrumbs.html" . -}}

  {{- partial "/byline/byline.html" . -}}

  {{- partial "/navigation/next-prev-small.html" . -}}

  <div class="flex flex-row gap-x-12 gap-y-4">
    <div class="">

      <span style="font-style: italic; font-weight: bold;">Meta</span>

      <table class="ingredients-table border-collapse">
        <tbody class="divide-y divide-black">
          <tr class="odd:bg-gray-100 even:bg-gray-200">
            <td>Cuisine: {{ .Params.cuisine }}</td>
          </tr>
          <tr class="odd:bg-gray-100 even:bg-gray-200">
            <td>Portions: {{ .Params.portions }}</td>
          </tr>

          {{ partial "recipes/recipe-times.html" . }}

        </tbody>
      </table>


      {{- partial "/recipes/ingredients.html" . -}}
    </div>

    <div class="">
      {{ partial "/page/content.html" . }}
    </div>
  </div>

  {{- partial "/navigation/related.html" . -}}
{{ end }}
