{{ $bannerColour := "bg-primary" }}
{{ $due := time .Params.due }}
{{ if and (not .Params.completed) .Params.due }}
  {{ if gt time.Now $due }}
    {{ $bannerColour = "bg-destructive" }}
  {{ end }}
{{ end }}


<div class="container w-full rounded-none border border-foreground bg-card text-sm">
  <div
    class="{{ $bannerColour }} flex h-8 items-center justify-center bg-accent text-base font-bold">
    <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
  </div>
  <div class="m-3">
    <div class="border-b border-foreground text-sm">
      {{ .Summary }}
    </div>

    <div>
      Owner:
      {{ .Params.author }}
    </div>

    <div>
      <time datetime="{{ .PublishDate.Format $.Site.Params.dateFormat }}">
        Created:
        {{ .PublishDate.Format $.Site.Params.dateFormatHuman }}
      </time>
    </div>

    {{ if gt .Lastmod .PublishDate }}
      <div>
        <time datetime="{{ .Lastmod.UTC.Format $.Site.Params.dateFormat }}">
          Updated:
          {{ .Lastmod.UTC.Format $.Site.Params.dateFormatHuman }}
        </time>
      </div>
      <div></div>
    {{ end }}

    {{ with time .Params.due }}
      <div>
        <time datetime="{{ .UTC.Format $.Site.Params.dateFormat }}">
          Due:
          {{ .UTC.Format $.Site.Params.dateFormatHuman }}
        </time>
      </div>
      <div></div>
    {{ end }}

    <div class="flex items-center border-t border-foreground">
      Priority:
      {{ .Params.priority }}
    </div>

    {{ with .Params.estimatedtime }}
      <div>
        Estimated Time:
        {{- . -}}
      </div>
    {{ end }}

    {{ with .Params.actualtime }}
      <div>
        Actual Time:
        {{- . -}}
      </div>
    {{ end }}

    {{ if gt .Params.percent 0 }}
      <div>
        <p>Completion:</p>
        <progress
          class="mt-3 h-6 w-full border border-foreground bg-accent font-bold"
          value="{{ .Params.percent }}"
          min="0"
          max="100">
          {{ .Params.percent }}%
        </progress>
      </div>
    {{ end }}

    {{ with .Params.dependencies }}
      <div class="border-t border-foreground">
        Dependencies:
        {{ range $index, $value := . }}
           {{ if $index }} | {{ end }}
           {{- $value -}}
        {{ end }}
      </div>
    {{ end }}

    {{ with .Params.references }}
      <div>
        References:
        {{ range $index, $value := . }}
           {{ if $index }} | {{ end }}
           {{- $value -}}
        {{ end }}
      </div>
    {{ end }}

    {{ with .GetTerms "categories" }}
      <div class="border-t border-foreground">
        Categories:
        {{ range $index, $value := . }}
           {{ if $index }} | {{ end }}
          {{ .LinkTitle }}
        {{ end }}
      </div>
    {{ end }}

    {{ with .GetTerms "tags" }}
      <div>
        Tags:
        {{ range $index, $value := . }}
           {{ if $index }} | {{ end }}
          {{ .LinkTitle }}
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
