<!-- Next / Previous. -->
<div class="text-md flex items-center justify-between">
  <div class="rounded-md bg-primary text-start">
    {{ with .PrevInSection }}
      <a class="" href="{{ .Permalink }}">
        <span>«&NonBreakingSpace;</span>
        {{ .Title | truncate 32 }}
      </a>
    {{ end }}
  </div>
  <div class="rounded-md bg-primary text-end">
    {{ with .NextInSection }}
      <a href="{{ .Permalink }}">
        {{ .Title | truncate 32 }}&NonBreakingSpace;
        <span>»</span>
      </a>
    {{ end }}
  </div>
</div>
