{{ $depth := add .depth  1 }}
{{ $spanIndent := sub $depth 1 }}
{{ $spanMain := sub 12 $depth }}
{{ $colSpanIndent := print "col-span-" $spanIndent }}
{{ $colSpanMain := print "col-span-" $spanMain }}

{{ if lt $depth 3 }}
  {{- range $index, $element := .menu -}}
    {{ if gt $depth 1 }}
      <div class="{{ $colSpanIndent }}"></div>
    {{ end }}

    <a
      class="{{ $colSpanMain }} justify-start hover:bg-primary-700"
      href="{{- $.Site.BaseURL -}}{{- .URL -}}">
        {{ .Params.icon | safeHTML }}
        <span>{{- $element.Name -}}</span>
    </a>

    {{ if $element.Children }}
      <div class="col-span-1">⌄</div>
      {{ partial "/navigation/recursive-nav.html" (dict "context" $.context "menu" $element.Children "depth" $depth) }}
    {{ else }}
      <div class="col-span-1"></div>
    {{ end }}
  {{ end }}
{{ end }}
