{{ $depth := add .depth  1 }}

{{ if lt $depth 3 }}
  {{- range $index, $element := .menu -}}
    {{ if and (lt $depth 2) ($element.Children) }}
      <li>
        <button class="dropdown-btn">
          {{ .Params.icon | safeHTML }}
          <span>{{- $element.Name -}}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed">
            <path
              d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z" />
          </svg>
        </button>
        
        <ul class="sub-menu">
          <div>
            {{ partial "/navigation/recursive-nav.html" (dict "context" $.context "menu" $element.Children "depth" $depth) }}
          </div>
        </ul>
      </li>
    {{ else }}
      <li>
        <a href="{{- $.Site.BaseURL -}}{{- .URL -}}">
          {{ .Params.icon | safeHTML }}
          <span>{{- $element.Name -}}</span>
        </a>
      </li>
    {{ end }}

  {{ end }}
{{ end }}
