<div class="text-md m-4 flex items-center justify-center space-x-4">
  <ul class="navigation">
    <!-- Taxonomy - Categories. -->
    {{ range $index, $value := .Params.categories }}
      <li>
        {{ if $index }}&#9210;{{ end }}        
        <a href="/categories/{{ . | urlize }}">{{- $value -}}</a>
      </li>
    {{ end }}

    <!-- Taxonomy - Tags. -->
    {{ range $index, $value := .Params.tags }}
      <li>
        {{ if $index }}&#9210;{{ end }}
          <a href="/tags/{{ . | urlize }}">{{- $value -}}</a>
      </li>
    {{ end }}
  </ul>
</div>
