<nav class="h-full w-full flex-auto text-sm">

  <p class="font-extrabold">Menu</p>

  <ul>
  {{ range .Site.Menus.nav }}
  <li>&nbsp;&nbsp;&nbsp;
      <a class="" href="{{ $.Site.BaseURL }}{{ .URL }}">
        <i class="fa-solid {{ .Pre }}"></i>
        {{ .Name }}
        {{ .Post }}
      </a>
    </li>
  {{ end }}
  </ul>  
  
  <p class="font-extrabold">Common Tags</p>

  {{ $tags := (first 20 (.Site.Taxonomies.tags.ByCount)) }}
  {{ range sort $tags "Page.LinkTitle" "asc" }}
  <ul>   
  {{ $cnt := .Count }}
     <li class="">&nbsp;&nbsp;&nbsp;
      <a
        class=""
        href="{{ .Page.RelPermalink }}"
        title="All pages with tag '{{ .Page.Title }}'">
        • {{ .Page.Title }} ({{ $cnt }})
      </a>
    </li>

  {{ end }}
  </ul>  
</nav>
