/* Style the pagination control set. */

.pagination {
    list-style: none; /* Remove default bullet points */
    padding: 0;      /* Remove default padding */
    margin: 0;       /* Remove default margin */
    background-color: blueviolet;
}

.pagination li {
    display: inline-block; /* Align list items horizontally */
    padding: 0 0.25rem;      /* Add some padding for spacing */
}

.navigation li {
    display: inline;
}

/* Branding colors */

@theme {
  --color-brand-50: oklch(95.0% 0.1211 42.6);
  --color-brand-100: oklch(82.0% 0.1211 42.6);
  --color-brand-200: oklch(71.0% 0.1211 42.6);
  --color-brand-300: oklch(62.0% 0.1211 42.6);
  --color-brand-400: oklch(55.0% 0.1211 42.6);
  --color-brand-500: oklch(50.0% 0.1211 42.6);
  --color-brand-600: oklch(45.0% 0.1211 42.6);
  --color-brand-700: oklch(38.0% 0.1211 42.6);
  --color-brand-800: oklch(29.0% 0.1211 42.6);
  --color-brand-900: oklch(18.0% 0.1211 42.6);
  --color-brand-950: oklch(5% 0.1211 42.6);

  --color-brand-faded-300: oklch(50.0% 0.06 42.6);
  --color-brand-faded-400: oklch(50.0% 0.07 42.6);
  --color-brand-faded-500: oklch(50.0% 0.08 42.6);
  --color-brand-faded-600: oklch(50.0% 0.09 42.6);
  --color-brand-faded-700: oklch(50.0% 0.1 42.6);

}


/* Light / Dark mode colors */
