@theme inline {
  /* Our brand colour in a range of brightness. */
  --color-primary-50: oklch(from var(--primary) clamp(0, calc(l * 1.90), 1) c h);
  --color-primary-100: oklch(from var(--primary) clamp(0, calc(l * 1.72), 1) c h);
  --color-primary-200: oklch(from var(--primary) clamp(0, calc(l * 1.54), 1) c h);
  --color-primary-300: oklch(from var(--primary) clamp(0, calc(l * 1.36), 1) c h);
  --color-primary-400: oklch(from var(--primary) clamp(0, calc(l * 1.18), 1) c h);
  --color-primary-500: oklch(from var(--primary) l c h);
  --color-primary-600: oklch(from var(--primary) clamp(0, calc(l * 0.82), 1) c h);
  --color-primary-700: oklch(from var(--primary) clamp(0, calc(l * 0.64), 1) c h);  
  --color-primary-800: oklch(from var(--primary) clamp(0, calc(l * 0.46), 1) c h);
  --color-primary-900: oklch(from var(--primary) clamp(0, calc(l * 0.28), 1) c h);
  --color-primary-950: oklch(from var(--primary) clamp(0, calc(l * 0.10), 1) c h); 
}

.main-menu {
  background-color: var(--primary);
  color: var(--primary-foreground);

  height: 3rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.5rem;
}

.footer-menu {
  background-color: var(--primary);
  color: var(--primary-foreground);

  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem;
}

.main-menu a {
  color: var(--primary-foreground);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.main-menu svg {
  background-color: transparent;
  fill: var(--primary-foreground);
  height: 1.75rem;
  width: 1.75rem;
  margin: 0.25rem;
}

.main-menu button {
  background-color: var(--color-primary-800);
  border-radius: 50%;
  cursor: pointer;
  margin: 0.25rem;
}
