<div class="flex w-full">
  {{ with  .Site.Params.social.github }}
    <a
      href="http://www.github.com/{{ $.Site.Params.social.github }}"
      target="_blank">
      <i class="fa-brands fa-github"></i>
      <span>Github</span>
    </a>
  {{ end }}

  {{ with .Site.Params.social.facebook }}
    <a
      href="https://www.facebook.com/sharer/sharer.php?u={{ $.Site.Params.social.facebook }}"
      target="_blank">
      <i class="fa-brands fa-facebook"></i>
      <span>Facebook</span>
    </a>
  {{ end }}
</div>
