<div class="w-52 rounded-md border bg-card p-2">
  <div>
    <a href="{{ .Permalink }}/profiles/{{ .profile }}/">
      {{ if .avatar }}
        <img src="{{ .avatar }}" />
      {{ else }}
        <img src="/img/site/missing-image.jpg" />
      {{ end }}
    </a>
  </div>

  <div>
    <div class="text-lg">
      <a href="{{ .Permalink }}/profiles/{{ .profile }}/">{{ .name }}</a>
    </div>
    <div>{{ .position }}</div>
    <div class="text-sm">
      {{ .description }}
      <br />
      <a href="{{ .Permalink }}/profiles/{{ .profile }}/">Read More&nbsp;>></a>
    </div>
  </div>
</div>
